[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=mikiwro
WorkingDirectory=/home/mikiwro/sites/DOMAIN
EnvironmentFile=/home/mikiwro/sites/DOMAIN/.env

ExecStart=/home/mikiwro/sites/DOMAIN/goatvenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
